@import "src/styles/vars";

.header {
  background-size: 100% 100vh;
  height: 100vh;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 4rem 1rem 8rem;
  }

  &__logo {
    background: url("../../../logo.svg") no-repeat center;
    width: 10rem;
    height: 5rem;
  }

  &__info {
    display: flex;
    justify-content: space-around;

    font-weight: 500;

    div {
      .icon {
        font-size: 3rem;
        color: $dark-green;
      }
    }

    .button {
      margin-bottom: auto;
      margin-top: auto;
    }
  }

  &__content {
    background-color: $light-grey;
    padding: 1rem 4rem 1rem 8rem;
  }

  &__time,&__contacts,&__location {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__time {
    div {
      div:last-child{
       color: #b1b1b1;
      }
    }
  }

  &__contacts {
    .phones {
      display: flex;
      flex-direction: column;

      &__link {
        color: $dark-grey-text;
        text-decoration: none;
      }
    }
  }

  &__location {
  }
}

.menu {

  &__list {
    list-style: none;

    display: flex;
    gap: 1rem;
  }

  &__item {
    display: inline;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    font-size: 1rem;
    font-weight: 500;

    transition: $time;

    cursor: pointer;

    &:hover {
      background-color: $light-green;
      color: $white-text;
    }
  }
}
