<header class="header">

  <div class="header__top">
    <div class="header__logo"></div>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item" *ngFor="let item of menuPoints">
          {{item}}
        </li>
      </ul>
    </nav>
  </div>

  <div class="header__bottom">
    <h1 class="title header__title">
      Modern&nbsp; Dentistry
      <div>Центр сучасної стоматології</div>
    </h1>
    <div class="header__text">
      Modern Dentistry - це сучасна стоматологія для всієї родини. У нас ви отримаєте стоматологічні послуги за всіма напрямками: діагностика, лікування, відновлення, протезування.
      У нашому центрі працюють лікарі з багаторічним досвідом, а сучасне обладнання та високоякісні матеріали дозволяють їм виконувати роботу на найвищому рівні. Саме тому ми гарантуємо високу якість послуг кожному нашому пацієнту.
    </div>
  </div>

</header>
